:root {
  --primary: #5085A5;
  --primary-dark: #31708E;
  --primary-light: #8FC1E3;
  --accent-dark: #687864;
  --accent-light: #F7F9FB;
}

* {
  background-color: var(--accent-light);
  color: var(--primary-dark);
} 

li{
  list-style: square;
  font-size: 1.5rem;
  margin-top: 10px;
}

button{
  background-color: var(--primary);
  color: var(--accent-light);
  font-size: .75rem;
}

h1 {
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.title {
  background-color: var(accent-dark);
}

.additem{
  margin-left: 25px;
}

.border{
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid var(--primary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

.submit-btn{
  background-color: var(--accent-dark);
  margin-left: 10px;
  font-size: .75rem;
}


